---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---
<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
        <h1 class="vf-intro__heading vf-intro__heading--has-tag">Partnerships <a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
        <p class="vf-lede">EMBL works with various partners in the biological sciences and industry to unravel the mysteries of life </p>
        <p class="vf-intro__text">EMBL institutional partnerships are close cooperative affiliations between EMBL and external institutions of comparable standard, vision and international orientation. Working relationships at the institutional level are based on shared institutional goals and scientific synergy or complementarity. The aim is to leverage the EMBL model together with the strengths of the partners, to create an interlinked system of excellent institutions that enhance molecular life science in Europe and the world. </p>
    <a id="harsh" href="#" class="vf-link ">About EMBL partnerships</a>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
    Partnership list HERE
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
    Events HERE
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
<h2 class="vf-summary__title">News from our partners</h2>    
</div>
    <div>
        <link rel="import"
      href="https://dev.content.embl.org/api/v1/pattern.html?filter-content-type=article&filter-field-value%5Bfield_article_type%5D=article_timely&filter-fields-exists=field_display_title%2Cfield_teaser%2Cfield_canonical_location&limit=5&pattern=vf-news-item-default&sort-field-value%5Bcreated%5D=DESC"
      data-target="self" data-embl-js-content-hub-loader>
      <a id="harsh" href="#" class="vf-link ">See all EMBL news</a>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h2 class="vf-summary__title">Jobs at partner institutions</h2>
    </div>
    <div>
    Jobs list HERE
    </div>
</section>